header {
  max-width: 1024px;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.list-section {
  max-width: 1024px;
}
.list-film-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px;
  li {
    margin: 10px;
    flex-basis: calc(((100%-20px) - 6 * 10px) / 3);
    list-style: none;
    img {
      width: 100%;
    }
  }
}
